{$WEB_DOMAIN}:80 {
	redir https://{host}{uri} permanent
}

{$WEB_DOMAIN} {
	reverse_proxy app:5000
}

#mst.evils.in/:443 {
#	reverse_proxy lazydocker:7681
#}
#
## Also add HTTP redirect for logs subdomain
#mst.evils.in/:80 {
#	redir https://{host}{uri} permanent
#}
